# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

# cube
/hal/cmake
/hal/*.txt
/hal/Drivers/CMSIS/*.txt
/hal/Drivers/STM32H7xx_HAL_Driver/*.txt
/hal/*.json
